<!DOCTYPE html>
<html>
<head>
  <title>LaunchAcademySite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">	
	
	<div class="jumbotron">
  		<h1>Hi Launch Academy,</h1>
  		<p class="text-muted">This is why I think we should work together.</p>
  	</div>
  	
		<h2 class="featurette-heading"><span class="text-muted">What I've done</h2></span>
		<hr class="featurette-divider">
		<p><%= render "layouts/whativedone" %></p>
		<p><hr class="featurette-divider"></p>
		<%= render "layouts/aboutme" %>
	
</div>
<%= yield %>

</body>
</html>
